<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario: </h1>
    <form action="/submit" method="POST">
        <p>Cual es tu nombre?</p>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit2" method="POST">
        <p>Cual es el radio del circulo?</p>
        <label for="radio">Radio:</label>
        <input type="text" id="radio" name="radio" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit3" method="POST">
        <p>Dame las calificaciones</p>
        <label for="cal1">Primer calificacion:</label>
        <input type="text" id="cal1" name="cal1" required>
        <br>
        <label for="cal2">Segunda calificacion:</label>
        <input type="text" id="cal2" name="cal2" required>
        <br>
        <label for="cal3">Tercera calificacion:</label>
        <input type="text" id="cal3" name="cal3" required>
        <br>
        <label for="cal4">Cuarta calificacion:</label>
        <input type="text" id="cal4" name="cal4" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit4" method="POST">
        <p>Introduce el numero en centimetros</p>
        <label for="cm">CM: </label>
        <input type="text" id="cm" name="cm" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit5" method="POST">
        <label for="cata">Dame el cateto a</label>
        <input type="text" id="cata" name="cata" required>
        <br>
        <label for="catb">Dame el cateto b</label>
        <input type="text" id="catb" name="catb" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit6" method="POST">
        <label for="hora">Dame la hora actual del reloj</label>
        <input type="text" id="hora" name="hora" required>
        <br>
        <label for="horaMas">Dame un numero entero de horas</label>
        <input type="text" name="horaMas" id="horaMas" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit7" method="POST">
        <label for="edad">Dame tu edad</label>
        <input type="text" id="edad" name="edad" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit8" method="POST">
        <label for="lado">Introduce el valor de un lado de un cuadrado</label>
        <input type="text" name="lado" id="lado" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit9" method="post">
        <label for="base">Dame la base del triangulo</label>
        <input type="text" name="base" id="base" required>
        <br>
        <label for="altura">Dame la altura del triangulo</label>
        <input type="text" name="altura" id="altura" required>
        <br>
        <button type="submit">Enviar</button>
    </form>

    <form action="/submit10" method="POST">
        <label>Calcular el promedio de los siguientes numeros: 19, 17, 21, 09, 12, 07</label>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit11" method="post">
        <label for="kg">Escribe el valor en kg</label>
        <input type="text" name="kg" id="kg" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <form action="/submit12" method="post">
        <label for="n1">Dame el primer numero: </label>
        <input type="text" name="n1" id="n1">
        <br>
        <label for="n2">Dame el segundo numero</label>
        <input type="text" name="n2" id="n2">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>