<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p><%= gln %> galones a litros es: <%= lt %></p>
    <a href="/">Volver al formulario</a>
</body>
</html>