<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p>El area de un triangulo con base <%= base %> y altura <%= altura %> es: <%= area %> </p>
    <a href="/">Volver al formulario</a>
</body>
</html>