<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p>Hora actual <%= hora %></p>
    <p>Cantidad de horas <%= horaMas %></p>
    <p>En <%= horaMas %>, el reloj marcara las <%= horaFut %></p>
    <a href="/">Volver al formulario</a>
</body>
</html>